body{
    background-color:#d3d7de;
}

.btn.btn-primary{
    background-color: #db4ba6;
    font-size: 20px;
    margin-right: 20px;
}

label{
    font-size: 20px;
}

.change{
    font-size: 18px;
}
#delete{
    margin-left: 690px;
    font-size: 20px;
}